#ection-1 {
}

#section-1 {
  background: url("../../assets/img/IMG_6082.webp") center / cover no-repeat;
}

#section-2 .heading p, ul {
  text-align: justify;
}

.galery-1-holder {
  width: 100%;
  height: 300px;
  border: 10px solid var(--bs-white);
  border-radius: 5px;
  box-shadow: 1px 4px 10px rgba(0,0,0,0.5);
  margin: 10px;
}

.galery-1-holder img {
  width: 100%;
  height: 100%;
  object-position: 50% 35%;
  object-fit: cover;
}

.div-foto {
  width: 100%;
  height: 300px;
  border: 10px solid var(--bs-white);
  border-radius: 5px;
  box-shadow: 1px 4px 10px rgba(0,0,0,0.5);
  margin: 10px;
}

.div-foto img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  object-position: 50% 5%;
}

@media (min-width: 768px) {
  .div-foto {
    height: 450px;
  }
}

@media (min-width: 992px) {
  .div-foto {
    height: 750px;
  }
}

#section-break button {
  width: 100%;
  font-size: 20pt;
}

#section-3 {
  min-height: 50vh;
}

#section-4 p {
  text-align: justify;
}

#section-4 {
  padding-top: 50px;
}

#section-6 {
  min-height: 50vh;
  background: #FAFCFB;
}

.transition {
  background-color: var(--p-color-dark);
}

#section-2 .transition {
  background-color: var(--p-color-dark);
}

